<div class="container">
  <form action="/search" method:"GET">
    <div class="form-group">
      <label= news_search></label>
        <input type="text" name="db_search" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Search</button>
  </form>
</div>